@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

@source '../../../../resources/views/components';
@source '../../../../resources/views/livewire';

/* =========================================
   Custom Filament Styles
========================================= */

/* Bottom form actions */

.fi-ac.fi-align-start {
    justify-content: flex-end !important;
}

.fi-ac {
    display: flex !important;
    justify-content: flex-end !important;
}


/* Entire section */
.fi-section {
    background-color: #dbeafe !important;
    border: 2px solid #3b82f6 !important;
    border-radius: 12px;
}

/* Section body */
.fi-section-content {
    background-color: #dbeafe !important;
}

/* Section header */
.fi-section-header {
    background-color: #bfdbfe !important;
}
